{% extends 'kingadmin/change_info.html' %}

{% load my_tag %}

{% block custom_css %}
<style>
div{
    {#margin-left: 100px;#}
    {#margin-bottom: 50px;#}
}
btn,form{
    margin-left: 100px;
}
</style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#" style="padding-left: 10%;
          display: inline-block">KingAdmin后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                <li><a href="">{{ request.user }}</a></li>
                <li><a href="{% url 'king_admin_logout' %}">退出登录</a></li>
              {% else %}
                <li><a href="{% url 'king_admin_login' %}">登录</a></li>
                <li><a href="{% url 'crm_register' %}">注册</a></li>
              {% endif %}
          </ul>

        </div>
      </div>
    </nav>

    <div class="main">

         <ol class="breadcrumb">
            <li><a href="{% url 'king_admin_homepage' %}">Home</a></li>
            <li><a href="{% url 'kingadmin_app_page' app_name %}">{{ app_name }}</a></li>
            <li class=""><a href="{% url 'model_obj_list' app_name model_name %}">{{ model_name }}</a></li>
            <li class=""><a href="{% url 'change_obj' app_name model_name obj.id %}">{{ obj }}</a></li>
            <li class="active">delete</li>
        </ol>

        <div class="text">
            <h2>Are you sure?</h2>
            <p>Are you sure you want to delete the {{ model_name }} "{{ obj }}"?
                All of the following related items will be deleted:</p>
        </div>

        <div>
            <!--展示与要删除的关联字段相关联的表记录对象-->
            {% display_all_related_objs obj %}
        </div>

        <form method="post">
            <input type="submit" value="确定删除" class="btn btn-danger">
            <a href="{% url 'change_obj' app_name model_name obj.id %}">
                <input type="button" value="返回" class="btn btn-info">
            </a>
            {% csrf_token %}
        </form>

     </div>
{% endblock %}